.happy-clients {
    background-color: $grey3;
    text-align: center;
    h6 {
        padding-bottom: 40px;
    }
    img {
        padding: 20px;
    }
    .name {
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
    }
    .opinnion {
        margin-top: 20px;
        p {
            margin-top: 20px;
        }
    }
}