.jumbotron {
    text-align: center;
    color: $white;
    font-size: 72px;
    font-weight: 700;
    .beige { 
    color: $beige;
    }
    .number {
        font-size: 18px;
        font-weight: 600;
    }
}