.our-projects {
    text-align: center;
    .btn-group {
        padding: 50px 0 40px 0;
        button {
            width: auto;
            padding: 0 30px;
        }
    }
    .row {
        padding-bottom: 30px;
    }
}