//colors
$white: #ffffff;
$black: #000000;
$beige: #b88b58;
$nonActive: #373737;
$grey: #aeaeae;


//h1-h6
h3 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h6 {
    text-transform: uppercase;
    text-align: center;
    color: $grey;
}

//button
button {
    width: 197px;
    height: 48px;
    border-radius: 30px;
    border: none;
    background: $nonActive;
    color: $white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.activeButton {
    @extend button;
    background: $beige;
}
